/* FIXME bc styling is gross rn */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  background-color: #1b94fa;
}

div {
  margin: 0 12px;
}

/* Buttons */
.btn {
  background-color: rgba(40, 44, 44, 1);
}

.btn:hover {
  background-color: rgba(40, 44, 44, .8);
}

.login--google {
  /* Button has text for accessibility, but actual text is transparent */
  color: rgba(0, 0, 0, 0);
  background-color: transparent;
  /* The Google sign-in branding button has sign in with google written on it
  * https://developers.google.com/identity/branding-guidelines
  */
  background-image: url( './images/btn_google_signin_light_normal_web.png' );
  width: 191px;
  height: 46px;
}
