/* FIXME bc styling is gross rn */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  background-color: #1b94fa;
}

.btn {
  background-color: rgba(40, 44, 44, 1);
}

.btn:hover {
  background-color: rgba(40, 44, 44, .8);
}

div {
  margin: 0 12px;
}
