@import '~materialize-css/dist/css/materialize.min.css';

/* Buttons */

/* The login button for Google */
.login--google {
  /* The Google sign-in branding button has sign in with google written on it
  * https://developers.google.com/identity/branding-guidelines
  */
  background-image: url( './images/btn_google_signin_light_normal_web.png' );
  width: 191px;
  height: 46px;
}
